.main {
  margin: 100px 400px 100px 400px;
}

/* CONTAINERS MAIN */

.inputs__main, 
.book {
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.inputs__main {
  margin-bottom: 50px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.book {
  
}

/* DETAILS INPUTS MAIN */

.search {
  width: 40%;
  border: none;
  border-left: 2px solid black;
  border-bottom: 1px solid black;
  border-radius: 2px;
}

.add {
  padding: 10px 0 10px 0;
  width: 30%;
  background-color: #4080E2 ;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.add:hover {
  background-color: #376FC6;
}

/* LIST CONTACT */

.card {
  padding: 25px 50px 25px 50px;
  margin-bottom: 25px;
}

/* FORM ADD CONTACT */

.popup {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* display: none; */
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  width: 40vw;
  /* height: 100vh; */
}

/* DETAILS FORM ADD CONTACT */

.container__close {
  display: flex;
  justify-content: flex-end;
}

.close {
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: #FFFFFF;;
  color: #CB4242;
  padding: 2px;
  border-radius: 5px;
}

.close:hover {
  background-color: #CB4242;
  color: #FFFFFF;;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputs__form {
  display: flex;
  flex-direction: column;
}

.add__firstname,
.add__lastname,
.add__email,
.add__birth {
  margin-bottom: 15px;
  height: 50px;
  font-size: 20px;
  border: none;
  border-left: 2px solid black;
  border-bottom: 1px solid black;
  border-radius: 2px;
}

.add__informations {
  display: flex;
  margin-bottom: 15px;
  width: 100%;
}

.text__informations {
  width: 100%;
  height: 250px;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.save,
.delete {
  width: 30%;
  padding: 10px 0 10px 0;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.save {
  background-color: #61AD38 ;
  color: #FFFFFF;
}

.save:hover {
  background-color: #477C2A;
}

.delete {
  background-color: #CB4242 ;
  color: #FFFFFF;
}

.delete:hover {
  background-color: #993333;
}